.footer{
    background-color: #BEADFA;
}
.one{
    background-color:#FFF3DA;
    font-family: 'Montserrat', sans-serif;
}
.onea{
    background-color: #DFCCFB;
    font-family: 'Roboto Condensed', sans-serif;
}
.Relevant{
    background-color: #cdb580;
    font-family: 'Roboto Condensed', sans-serif;
}
#rhead{
    background-color:#DFCCFB ;
    font-family: 'Montserrat', sans-serif;
}
.heading{
    background-color: skyblue;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
#edu{
    background-color: #A8DF8E;
    font-family: 'Montserrat', sans-serif;
}
.ten{
    background-color: #FFBFBF;
    font-family: 'Roboto Condensed', sans-serif;
}
.twelve{
    background-color: #F3FDE8;
    font-family: 'Roboto Condensed', sans-serif;
}
.obj{
   background-color:  darkseagreen;
   font-family: 'Montserrat', sans-serif;
}
.Objective{
    background-color: #C58940;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background-color: bisque;
}
.contact{
    background-color: burlywood;
    font-family: 'Roboto Mono', monospace;
}
#cinfo{
    background-color: #C8AE7D;
    font-family: 'Montserrat', sans-serif;
}
.robo{
    font-family: 'Montserrat', sans-serif;
}
